{:deps           {lambdaisland/regal                       {:mvn/version "0.0.89"}
                  aysylu/loom                              {:mvn/version "1.0.2"}
                  medley/medley                            {:mvn/version "1.3.0"}
                  lambdaisland/kaocha                      {:mvn/version "1.0.732"}
                  com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}
                  org.clojure/math.combinatorics           {:mvn/version "0.1.6"}
                  }
 :paths          ["src"]
 :resource-paths ["resources"]
 :aliases
 {:with-profiler
  {:jvm-opts   ["-Djdk.attach.allowAttachSelf"
                "-XX:+UnlockDiagnosticVMOptions"
                "-XX:+DebugNonSafepoints"]
   :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}}}
